<ion-content>

  <div class="container-fluid logcontainer h-100 bg-white">
    <div class="row h-100 bg-white">
      <div class="col-12 p-0 bg-white">
        <!-- login image -->
        <img src="/assets/login-img.png" alt="Login Image" class="w-100">
        <!-- login form -->
        <div>
          <h2 class="text-dark fw-bold p-2 m-0">Update Password</h2>
          <!-- form -->
          <form class="py-3 px-5" [formGroup]="updatePasswordForm" (ngSubmit)="handleSubmit()">
            <!-- new password -->
            <div class="d-flex align-items-center border-bottom">
              <input class="text-dark bg-white py-2 w-100 border-0 mt-3" placeholder="OldPassword"
                formControlName="oldPassword" [type]="passwordHide ? 'password' : 'text'" minlength="5">
              <ion-icon class="text-dark fs-2" (click)="passwordHide = !passwordHide"
                [name]="passwordHide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </div>
            <pre class="text-dark" style="font-size: 10px;">Minimum Length Should Be 5</pre>
            <!-- confirm new password -->
            <div class="d-flex align-items-center border-bottom">
              <input class="text-dark bg-white py-2 w-100 border-0 mt-3" placeholder="New Password"
                formControlName="newPassword" [type]="newPasswordHide ? 'password' : 'text'">
              <ion-icon class="text-dark fs-2" (click)="newPasswordHide = !newPasswordHide"
                [name]="newPasswordHide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
            </div>
            <!-- button section -->
            <div class="row mt-3">
              <div class="col-12 col-md-6 text-center">
                <ion-button class="w-100" color="medium" [disabled]="updatePasswordForm.invalid">Update Password
                  <ion-spinner class="ms-3 text-dark" *ngIf="showLoader" name="crescent"></ion-spinner>
                </ion-button>
              </div>
              <div class="col-12 col-md-6 text-center">
                <ion-button type="button" class="w-100" routerLink="/profile">Back</ion-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</ion-content>