<ion-header>
  <ion-toolbar>
    <ion-title>marks <span class="float-end fs-1" title="profile" routerLink='/profile'>
        <ion-icon name="person-circle" class="fs-1"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container h-100">
    <div class="row h-100">

      <!-- loader skeleton -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngIf="showLoader">
        <div class="ion-padding custom-skeleton" *ngFor="let list of [1,2,3,4,5,6,7,8,9,0]">
          <div class="d-flex justify-content-end">
            <ion-skeleton-text animated style="width: 50%; height: 10px;"></ion-skeleton-text>
          </div>
          <ion-skeleton-text animated style="width: 50%; height: 10px;" class="mt-2"></ion-skeleton-text>
          <div *ngFor="let l of [1,2,3,4]">
            <div class="d-flex justify-content-between mt-3">
              <ion-skeleton-text animated style="width: 50%; height: 10px;"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 10%; height: 10px;"></ion-skeleton-text>
            </div>
          </div>
          <hr>
          <ion-skeleton-text animated></ion-skeleton-text>
        </div>
      </div>

       <!-- no content found -->
       <h3 class="fw-bold d-flex justify-content-center align-items-center" *ngIf="marksData.length === 0">
        ! Marks Not Found
      </h3>

      <!-- marks list -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let m of marksData">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <span class="">Created By:
                {{m?.createdBy}}</span>
              <span class="float-end">{{m?.createdAt | date}}</span>
            </ion-card-subtitle>

          </ion-card-header>
          <ion-card-title>{{m.examName}}</ion-card-title>

          <ion-card-content>
            <div class="overflow-auto">
              <div class="d-flex" *ngFor="let l of m.subjectsMarks | keyvalue">
                <p class="col-8">{{l.key}}</p>
                <p class="col-2">{{l.value}}</p>
                <p class="col-2">{{l.value >= 50 ? 'P' : 'F'}}</p>
              </div>
            </div>
            <hr>
            <p>Total : {{totalMarks}} </p>

          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>