<ion-header>
  <ion-toolbar>
    <ion-title>
      circulars <span class="float-end fs-1" title="profile" routerLink='/profile'>
        <ion-icon name="person-circle" class="fs-1"></ion-icon>
      </span>
      <span class="float-end fs-1 me-3" (click)="refreshPage()">
        <ion-icon name="refresh-circle"></ion-icon>
      </span>
    </ion-title>
    <div class="d-flex align-items-center border border-Secondary">
      <input type="text" placeholder="Search.. 👀" #search class="bg-transparent w-100 border-0 py-2" (change)="onSearch($event)">
      <button  (click)="clearSearch()" class="bg-transparent">
        <ion-icon name="close" class="fs-2 px-3"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <span href="#top" class="fs-1">
    ▲
  </span> -->
  <div class="container h-100" id="top">
    <div class="row justify-content-center h-100">
      <!-- loader skeleton -->
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngIf="showLoader">
        <div class="ion-padding custom-skeleton" *ngFor="let list of [1,2,3,4,5,6,7,8,9,0]">
          <div class="d-flex justify-content-between align-items-center">
            <ion-skeleton-text animated style="width: 20%; border-radius: 50%; height: 50px;"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%; height: 10px;"></ion-skeleton-text>
          </div>
          <ion-skeleton-text animated></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%; height: 60px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%; height: 70px;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%; height: 150px;"></ion-skeleton-text>
        </div>
      </div>

      <!-- default password circular -->


      <div *ngIf="!defaultPasswordToken">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              Technical Info
            </ion-card-subtitle>
            <ion-card-title>Default Password<ion-button (click)="removeDefaultPasswordMessage()" class="float-end"
                fill="outline">Close</ion-button>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="overflow-auto" style="max-height: 25rem;">
            This is Inform to all the Students to please change your default password.
            To avoid the issue. It avoids the students to login others accounts.
          </ion-card-content>
        </ion-card>
      </div>


      <!-- no content found -->
      <h3 class="fw-bold d-flex justify-content-center align-items-center" *ngIf="circulars.length === 0">
        ! Circulars Not Found
      </h3>
      <!-- circulars -->

      <ng-container *ngIf="circulars.length !== 0">


        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let c of circulars">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <span [title]="c.createdBy">
                  <ion-icon name="person" class="fs-1"></ion-icon>
                </span>
                <span class="float-end text-uppercase">{{c.circularFor}}</span>
              </ion-card-subtitle>
              <div class="mb-5">
                <span class="m-0">createdAt : {{c.createdAt | date}}</span> <span
                  *ngIf="(c.createdAt | date) === (currentDate | date)" class="float-end">
                  <ion-button fill="outline" slot="end">New</ion-button>
                </span>
                <p class="m-0">For : {{c.circularDate | date}}</p>
              </div>
              <ion-card-title>{{c.circularTitle}}
                <p class="float-end fs-1 bg-transparent" (click)="shareCircular(c.circularTitle, c.circularContent)">
                  <ion-icon name="share-social"></ion-icon>
                </p>
              </ion-card-title>
            </ion-card-header>

            <ion-card-content class="overflow-auto" style="max-height: 25rem;">
              {{c.circularContent}}
              <p>
                <a target="_blank"
                  [href]="getCircularUrls(c.circularContent)">{{getCircularUrls(c.circularContent)}}</a>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>