<ion-content>

  <div class="container-fluid logcontainer h-100 bg-white">
    <div class="row h-100 bg-white">
      <div class="col-12 p-0 bg-white">
        <!-- login image -->
        <img src="/assets/login-img.png" alt="Login Image" class="w-100">
        <!-- login form -->
        <div>
          <h2 class="text-dark fw-bold p-2 m-0">Log In</h2>
          <!-- form -->
          <form class="py-3 px-5" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
            <div>
              <input class="text-dark bg-white py-2 w-100 border-0 border-bottom mt-3" type="text" id="rollNumber"
                placeholder="Enter Your Roll Number" formControlName="rollNumber" (change)="inputChange()">
            </div>
            <div>
              <input class="text-dark bg-white py-2 w-100 border-0 border-bottom mt-3" type="password" id="rollNumber"
                placeholder="Password" formControlName="password" (change)="inputChange()">
            </div>
            <span class="text-danger">{{errorMessage}}</span>
            <p class="text-end mt-3"><a class="text-dark" routerLink="/forgetpassword">Forget Password?</a></p>
            <div>
              <ion-button class="w-100" type="submit" color="medium" [disabled]="loginForm.invalid">Login <ion-spinner class="ms-3 text-dark" *ngIf="showLoader" name="crescent"></ion-spinner></ion-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</ion-content>