<ion-content>

  <div class="container-fluid logcontainer h-100 bg-white">
    <div class="row h-100 bg-white">
      <div class="col-12 p-0 bg-white">
        <!-- login image -->
        <img src="/assets/login-img.png" alt="Login Image" class="w-100">
        <!-- login form -->
        <div>
          <h2 class="text-dark fw-bold p-2 m-0">Log In</h2>
          <!-- form -->
          <div class="py-3 px-5">
            <div>
              <input class="text-dark bg-white py-2 w-100 border-0 border-bottom mt-3 ps-5" type="text" id="rollNumber"
                placeholder="Enter Your Roll Number">
            </div>
            <div>
              <input class="text-dark bg-white py-2 w-100 border-0 border-bottom mt-3 ps-5" type="password" id="rollNumber"
                placeholder="Password">
            </div>
            <p class="text-end mt-3"><a class="text-dark" routerLink="/">Forget Password?</a></p>
            <div>
              <ion-button class="w-100" color="medium">Login</ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>