<ion-content>

  <div class="container-fluid logcontainer h-100 bg-white">
    <div class="row h-100 bg-white">
      <div class="col-12 p-0 bg-white">
        <!-- login image -->
        <img src="/assets/login-img.png" alt="Login Image" class="w-100">
        <!-- login form -->
        <div>
          <h2 class="text-dark fw-bold p-2 m-0">Set New Password</h2>
          <!-- form -->
          <form class="py-3 px-5" [formGroup]="setPasswordForm" (ngSubmit)="handleSubmit()">
            <!-- new password -->
            <div class="d-flex align-items-center border-bottom">
              <input class="text-dark bg-white py-2 w-100 border-0 mt-3" placeholder="New Password"
                formControlName="password" [type]="passwordHide ? 'password' : 'text'" minlength="5">
              <span (click)="passwordHide = !passwordHide">
                <ion-icon class="text-dark fs-2" [name]="passwordHide ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </span>
            </div>
            <pre class="text-dark" style="font-size: 10px;">Minimum Length Should Be 5</pre>
            <!-- confirm new password -->
            <div class="d-flex align-items-center border-bottom">
              <input class="text-dark bg-white py-2 w-100 border-0 mt-3" placeholder="Confirm New Password"
                formControlName="confirmPassword" [type]="confirmPasswordHide ? 'password' : 'text'">
              <span (click)="confirmPasswordHide = !confirmPasswordHide">
                <ion-icon class="text-dark fs-2" [name]="confirmPasswordHide ? 'eye-off-outline' : 'eye-outline'">
                </ion-icon>
              </span>
            </div>
            <span class="text-danger">{{errorMessage}}</span>
            <!-- button section -->
            <div class="mt-3">
              <ion-button class="w-100" type="submit" color="medium" [disabled]="setPasswordForm.invalid">Set Password
                <ion-spinner class="ms-3 text-dark" *ngIf="showLoader" name="crescent"></ion-spinner>
              </ion-button>
            </div>
            <!-- back to login -->
            <p class="text-end mt-2"><a class="text-dark" routerLink="/login">Back to login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>


</ion-content>