<ion-header>
  <ion-toolbar>
    <ion-title>More <span class="float-end fs-1" title="profile" routerLink='/profile'>
        <ion-icon name="person-circle" class="fs-1"></ion-icon>
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-center">
    <img style="width: 21rem;" src="/assets/logo.png" alt="logo">
  </div>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 h-100">
        <iframe src="https://coe.panimalar.ac.in/coepec/index.php" frameborder="0" class="w-100 h-100"></iframe>
      </div>
    </div>
  </div>
</ion-content>