<ion-content>

  <div class="container-fluid logcontainer h-100 bg-white">
    <div class="row h-100 bg-white">
      <div class="col-12 p-0 bg-white">
        <!-- login image -->
        <img src="/assets/login-img.png" alt="Login Image" class="w-100">
        <!-- login form -->
        <div>
          <h2 class="text-dark fw-bold p-2 m-0">Forget Password ?</h2>
          <!-- form -->
          <form class="py-3 px-5" [formGroup]="forgetPasswordForm" (ngSubmit)="handleSubmit()">
            <div>
              <input class="text-dark bg-white py-2 w-100 border-0 border-bottom mt-3" type="text" id="rollNumber"
                placeholder="Enter Your Roll Number" formControlName="rollNumber">
            </div>
            <pre class="text-danger">{{errorMessage}}</pre>
            <div class="mt-3">
              <ion-button type="submit" class="w-100" color="medium" [disabled]="forgetPasswordForm.invalid">Send Reset Link <ion-spinner class="ms-3 text-dark" *ngIf="showLoader" name="crescent"></ion-spinner></ion-button>
            </div>
            <!-- back to login -->
            <p class="text-end mt-3"><a class="text-dark" routerLink="/login">Back to login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>


</ion-content>