<ion-header>
  <ion-toolbar>
    <ion-title>profile

      <span class="float-end mt-1" *ngIf="!darkMode">🌞</span>
      <span class="float-end mt-1" *ngIf="darkMode">🌙</span>
      <span class="float-end">
        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
      </span>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- profile image -->
        <div class="row">
          <div class="col-6">
            <img [src]="profileData?.photo || '/assets/default-profile.png' " alt="profile" style="max-height: 15rem;">
          </div>
          <div class="col-6 text-center">
            <p class="text-uppercase"> {{profileData?.firstName}} {{profileData?.lastName}}</p>
            <p class="text-uppercase">{{profileData?.rollNumber}}</p>
            <p>{{profileData?.examNumber}}</p>
          </div>
        </div>
        <hr>
        <!-- student details -->
        <div class="row">
          <p class="col-12">Email: {{profileData?.email}}</p>
          <p class="col-12">Gender: {{profileData?.gender}}</p>
          <p class="col-12">Mobile: {{profileData?.mobileNumber}}</p>
          <p class="col-12">DOB: {{profileData?.dob}}</p>
          <p class="col-12">Father's Name: {{profileData?.fatherName}}</p>
          <p class="col-12">Mother's Name: {{profileData?.motherName}}</p>
          <hr>
          <h2 class="fw-bold text-center">Education Details</h2>
          <p class="col-12">Year of 10th Passout: {{profileData?.yearOf10}}</p>
          <p class="col-12">Year of 12th Passout: {{profileData?.yearOf12}}</p>
          <p class="col-12">10th Mark Percentage: {{profileData?.markPercentageOf10}}</p>
          <p class="col-12">12th Mark Percentage: {{profileData?.markPercentageOf12}}</p>
          <p class="col-12" *ngIf="profileData?.nameOf10School !== ''">10th School Name: {{profileData?.nameOf10School}}
          </p>
          <p class="col-12" *ngIf="profileData?.nameOf12School !== ''">12th School Name: {{profileData?.nameOf12School}}
          </p>
          <hr>
          <h2 class="fw-bold text-center">College Details</h2>
          <p class="col-12">Year of college Joined :: {{profileData?.yearOfCollegeJoined}}</p>
          <p class="col-12">Current Studing Year: {{profileData?.currentStudingYear}}</p>
          <p class="col-12">Roll Number: {{profileData?.rollNumber}}</p>
          <p class="col-12">Exam Number: {{profileData?.examNumber}}</p>
          <p class="col-12">Branch: {{profileData?.branch}}</p>
          <p class="col-12 text-uppercase">Section: {{profileData?.section}}</p>
          <hr>
          <div class="row m-0">
            <div class="col-12 col-md-6 text-center">
              <ion-button type="button" class="w-100" color="medium" routerLink="/update-password">Update Password
              </ion-button>
            </div>
            <div class="col-12 col-md-6 text-center">
              <ion-button type="button" class="w-100" (click)="logOut()">Log Out<ion-spinner class="ms-3 text-dark"
                  *ngIf="showLogoutLoader" name="crescent"></ion-spinner>
              </ion-button>
            </div>
          </div>
          <hr>
          <p class="text-center">Design and developed by Devendran</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>