* {
    font-family: garamond;
    font-weight: bold;
    text-transform: uppercase;
}

.subject {
    font-size: 1.5rem;
}

.heading {
    font-weight: bold;
}

@media print {
    .printBtn {
        display: none;
    }
    .page-border {
        position:fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 3px solid black;
    }
}
