<ion-header class="d-print-none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="more"></ion-back-button>
    </ion-buttons>
    <ion-title>BONAFIED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- form -->
  <div class="page-border"></div>
  <div class="container-fluid" *ngIf="formpage">
    <div class="row justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <div class="col-12 col-md-8 card-style-table p-4 mt-3">
          <h1 class="text-center">
            Enter your details
          </h1>
          <div>
            <form [formGroup]="bonafiedForm">
              <section class="d-sm-flex">
                <div class="col-12 col-sm-6">
                  <ion-input class="py-2 w-100 border-0 border-bottom mt-1" placeholder="Student Name"
                    formControlName="studentName"></ion-input>
                </div>
                <div class="col-12 col-sm-6">
                  <ion-input class="py-2 w-100 border-0 border-bottom mt-1" placeholder="Exam Number"
                    formControlName="examNumber"></ion-input>
                </div>
              </section>

              <section class="d-sm-flex">
                <div class="col-12 col-sm-6">
                  <ion-input class="py-2 w-100 border-0 border-bottom mt-1" placeholder="Sbject Code"
                    formControlName="subjectCode"></ion-input>
                </div>
                <div class="col-12 col-sm-6">
                  <ion-input class="py-2 w-100 border-0 border-bottom mt-1" placeholder="Subject"
                    formControlName="subject"></ion-input>
                </div>
              </section>

              <section class="row my-1">
                <div class="col-12 col-md-6">
                  <ion-item>
                    <ion-label>YEAR</ion-label>
                    <ion-select formControlName="year" value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="I">FIRST YEAR</ion-select-option>
                      <ion-select-option value="II">SECOND YEAR</ion-select-option>
                      <ion-select-option value="III">THIRD YEAR</ion-select-option>
                      <ion-select-option value="IV">FOURTH YEAR</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
                <div class="col-12 col-md-6 my-1">
                  <ion-item>
                    <ion-label>BRANCH</ion-label>
                    <ion-select formControlName="branch" value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option value="INFORMATION TECHNOLOGY">INFORMATION TECHNOLOGY</ion-select-option>
                      <ion-select-option value="COMPUTER SCIENCE">COMPUTER SCIENCE</ion-select-option>
                    </ion-select>
                  </ion-item>
                </div>
              </section>

              <section class="d-sm-flex my-1">
                <div class="col-12 col-sm-6">
                  <ion-item>
                    <ion-label>SEMESTER</ion-label>
                    <ion-select formControlName="semester" value="brown" okText="Okay" cancelText="Dismiss">
                      <ion-select-option  value="I">FIRST SEMESTER</ion-select-option >
                      <ion-select-option  value="II">SECOND SEMESTER</ion-select-option >
                      <ion-select-option  value="III">THIRD SEMESTER</ion-select-option >
                      <ion-select-option  value="IV">FOURTH SEMESTER</ion-select-option >
                      <ion-select-option  value="V">FIFTH SEMESTER</ion-select-option >
                      <ion-select-option  value="VI">SIXTH SEMESTER</ion-select-option >
                      <ion-select-option  value="VII">SEVENTH SEMESTER</ion-select-option >
                      <ion-select-option  value="VIII">EIGHT SEMESTER</ion-select-option >
                    </ion-select>
                  </ion-item>
                </div>
                <div class="col-12 col-sm-6">
                  <ion-datetime class="my-2" placeholder="Exam Date" #popoverDatetime
                    (ionChange)="dateValue = formatDate(popoverDatetime.value)" formControlName="examData">
                  </ion-datetime>
                </div>
              </section>
              <div>
                <button type="button" class="btn btn-primary" [disabled]="bonafiedForm.invalid"
                  (click)="previewPage()">Preview</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- bonafied -->



  <div class="container-fluid print-page" *ngIf="preview">
    <div class="row">
      <div class="col-12">
        <div class="mt-5">
          <h1 class="heading text-center">Panimalar engineering college</h1>
          <p class="heading text-center">(A CHRISTIAN MINORITY INSTITUTION)</p>
          <p class="heading text-center">ACCREDITED BY NBA</p>
          <p class="heading text-center">(ISO 9001:2000 CERTIFIED INSTITUTION)</p>
          <p class="heading text-center">jaisakthi educational trust</p>
          <p class="heading text-center">Bangalore Trunk Road, Varadharajapuram</p>
          <p class="heading text-center">Poonamallee, Chennai – 600 123.</p>
        </div>
        <div class="text-center">
          <img style="width: 22rem;" src="/assets/logo.jpg" alt="logo">
        </div>
        <div class="mt-4">
          <p class="text-center">Department of</p>
          <p class="text-center">{{previewData.branch}}</p>
        </div>
        <div class="mt-5">
          <p class="text-center"><span class="me-5">REGISTER NUMBER: </span> <span class="ms-5">{{previewData.examNumber
              || '_______________'}}</span></p>
          <p class="text-center"> <span class="me-5">NAME OF THE STUDENT:</span> <span
              class="ms-5">{{previewData.studentName || '_____________________'}}</span></p>
        </div>
        <div style="margin-top: 6rem;">
          <h1 class="text-center subject">{{previewData.subjectCode || '________'}}</h1>
          <h1 class="text-center subject"> {{previewData.subject || '__________________________'}} LABORATORY</h1>
        </div>
        <div class="mt-5 mb-5">
          <h2 class="text-center subject">{{previewData.year}} YEAR– {{previewData.semester}} SEMESTER</h2>
        </div>

        <!-- second content -->
        <div class="col-12" style="margin-top: 10rem;">
          <div class="mt-5">
            <h1 class="heading text-center">Panimalar engineering college</h1>
            <p class="heading text-center">(A CHRISTIAN MINORITY INSTITUTION)</p>
            <p class="heading text-center">ACCREDITED BY NBA</p>
            <p class="heading text-center">(ISO 9001:2000 CERTIFIED INSTITUTION)</p>
            <p class="heading text-center">jaisakthi educational trust</p>
            <p class="heading text-center">Bangalore Trunk Road, Varadharajapuram</p>
            <p class="heading text-center">Poonamallee, Chennai – 600 123.</p>
          </div>
          <div class="text-center">
            <img style="width: 22rem;" src="/assets/logo.jpg" alt="logo">
          </div>
          <div>
            <h1 class="text-center" style="font-size: 1.5rem;">BONAFIDE CERTIFICATE</h1>
          </div>
          <div class="mb-2">
            <p class="text-center mt-5" style="font-weight: normal;line-height: 2.5rem;">
              This is a Certified Bonafide Record Book of Mr./Ms. <span>{{previewData.studentName ||
                '____________________'}}</span>
              REGISTER No. <span>{{previewData.examNumber || '________________'}}</span> submitted for Anna University
              practical examination held on <span>{{(previewData.examData | date )|| '_____________'}}</span> in
              <span>{{previewData.subjectCode || '________________'}}</span> <span>{{previewData.subject||
                '________________'}}</span> LABORATORY during <span>{{previewData.examData | date:'MMMM, y'}}</span>
              Examinations.

            </p>
          </div>
          <div class="d-flex mt-5 mb-2">
            <div class="col-6 text-center">
              Head of the Department
            </div>
            <div class="col-6 text-center">Faculty In-Charge</div>
          </div>
          <div class="d-flex mt-5">
            <div class="col-6 text-center">
              EXTERNAL EXAMINER
            </div>
            <div class="col-6 text-center">INTERNAL EXAMINER
            </div>
          </div>
        </div>


        <div class="printBtn d-flex justify-content-around" style="margin: 5rem;">
          <div> <button type="button" class="printBtn btn btn-danger" (click)="previewPage()">back</button></div>
          <div> <button type="button" class="printBtn btn btn-primary" (click)="printBonafied()">print</button></div>
        </div>
      </div>
    </div>
  </div>




</ion-content>